@{
    ViewData["Title"] = "Home Page";
}
    <ul>
        <li><a href="/form/ManualSep">Manual sep</a></li>
        <li><a href="/form/ManualSingle">Manual Single</a></li>
        <li><a href="/form/ModelBindPar">Modelbind par</a></li>
        <li><a href="/form/ModelBindSep">Modelbind sep</a></li>
    </ul>

