
@{
    ViewData["Title"] = "ManualSingle";
}

<h1>ManualSingle</h1>

@using weblab2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper weblab2.TagHelpers.FieldTagHelper, weblab2

<form method="post">
    <div>
        <div><field name="first" /></div>
        <div><selector name="operation"></selector></div>
        <div><field name="second" /></div>
    </div>
    <input type="submit" value="cals" />
</form>



