
@{
    ViewData["Title"] = "Index";
}
@using weblab2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper weblab2.TagHelpers.FieldTagHelper, weblab2

<h1>ManualSep</h1>
<form method="post">
    <div>
        <div><field name="first" /></div>
        <div><selector name="operation"></selector></div>
        <div><field name="second" /></div>
    </div>
    <input type="submit" value="cals" />
</form>

